/myenv
/qcTrader/Lean/
/qcTrader/Lean/Launcher/bin/Release/Data
/qcTrader/Lean/Tests/ 
/qcTrader/Lean/Documentation/ 
/qcTrader/Lean/Research/ 
/qcTrader/Lean/Optimizer/ 
/qcTrader/Lean/ToolBox/ 
/qcTrader/Lean/VisualStudio/ 
/qcTrader/Lean/Algorithm.FSharp/ 
/qcTrader/Lean/bin/ 
/qcTrader/Lean/obj/ 
/qcTrader/Lean/.vscode/ 
/qcTrader/Lean/.idea/ 
/qcTrader/Lean/.env 
/qcTrader/Lean/*.user 
/qcTrader/Lean/*.suo 
/qcTrader/Lean/lib/
/qcTrader/Lean/Launcher/bin/Release/Results/