
recursive-include qcTrader/Lean/Algorithm.Python *

recursive-include qcTrader/Lean/Common *
# Include the Launcher directory (responsible for running Lean)
recursive-include qcTrader/Lean/Launcher *

# Include the Engine directory (core components of Lean)
recursive-include qcTrader/Lean/Engine *

# Include configuration files
recursive-include qcTrader/Lean/Api *

recursive-include qcTrader/Lean/Queues *
recursive-include qcTrader/Lean/Logging *
recursive-include qcTrader/Lean/Messaging *