
# Include all files under qcTrader/Lean except for debug folders
recursive-include qcTrader/Lean *


# Prune all 'debug' directories within qcTrader/Lean
prune qcTrader/Lean/**/bin/Release/publish
prune qcTrader/Lean/**/bin/Release/pythonnet

# Prune all 'debug' directories within qcTrader/Lean
prune qcTrader/Lean/**/Debug

prune qcTrader/Lean/**/win-x64
prune qcTrader/Lean/**/win-x64/*

# Include all files under qcTrader/utils and qcTrader/storage
recursive-include qcTrader/utils *
recursive-include qcTrader/installers *